table {
    border: 1px solid black;
    /* botar borda e centralizar */
}

.tableStyle {
    width: 90%;
    margin-bottom : .6em;
    table-layout: fixed;
    text-align: left;
    border: 1;
    margin: 0 auto;
}

header {
    height: 30%;
}

#register {
    width: 90%;
    margin-bottom : .6em;
    text-align: left;
    margin: 0 auto; 
    font: sans-serif;
}

.diff {
    background-color: skyblue;
    text-align: center;
}

.action { 
    text-align: center; 
}